**/.git
.pytest_cache
.ruff_cache
**/.pytest_cache
**/.ruff_cache
**/.venv
**/__pycache__
*.py[cod]
web/node_modules
web/dist
node_modules
dist
submodules/common/cpp/build
submodules/common/build
submodules/common/export
.env
.env.common
.env.compose
