COMPOSE_PROJECT_NAME=pokemon-battle-inference

POKEOP_FRONTEND_PORT=41100
POKEOP_BACKEND_PORT=41104
POKEOP_POSTGRES_PORT=41132

POSTGRES_DB=pokemon_battle_inference
POSTGRES_USER=pokeop
POSTGRES_PASSWORD=change-me
