annotated-types==0.6.0
anyio==4.3.0
archspec==0.2.1
boltons==23.0.0
Brotli==1.0.9
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==2.0.4
click==8.1.7
cryptography==41.0.7
decorator==4.4.2
distro==1.8.0
fastapi==0.110.2
ffmpeg-python==0.2.0
imageio==2.34.0
imageio-ffmpeg==0.4.9
future==1.0.0
greenlet==3.0.3
h11==0.14.0
idna==3.4
jsonpatch==1.32
jsonpointer==2.1
moviepy==1.0.3
numpy==1.26.4
packaging==23.1
pillow==10.3.0
pip==23.3.1
platformdirs==3.10.0
pluggy==1.0.0
proglog==0.1.10
psycopg2-binary==2.9.9
pycosat==0.6.6
pycparser==2.21
pydantic==2.7.0
pydantic_core==2.18.1
pyOpenSSL==23.2.0
PySocks==1.7.1
requests==2.31.0
ruamel.yaml==0.17.21
setuptools==68.2.2
sniffio==1.3.1
SQLAlchemy==2.0.29
starlette==0.37.2
tqdm==4.65.0
truststore==0.8.0
typing_extensions==4.11.0
urllib3==1.26.18
uvicorn==0.29.0
wheel==0.41.2
zstandard==0.19.0